
<div>
  <p>
    You Are Viewing: <%= @contract.title %>
  </p>
  <p>
    Contract: <%= @contract.content %>
  </p>
</div>
<%= link_to "Edit", edit_asset_manager_contract_path(@contract) %> | 
<%= link_to "Back", asset_manager_contracts_path %>

