body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}


h1  {
  font-family: Verdana, Helvetica, Arial;
  font-size: 50px;
  text-align: auto;
  margin: 20px;

  }
  
h2	{
	margin: 20px;
	font-family: Verdana, Helvetica, Arial;
	font-size: 16px;
}

.form {

  margin: 20px;
  float: left;
  }

.header {
  margin: 50px;
  }
  
  
#container {
  width: 1024px;
  margin: 0 auto;
  background-color: #FFF;
  border: solid 1px black;
  margin-top: 20px;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

#user_nav {
  float: right;
  font-size: 12px;
  margin-right: 20px;
  margin-top: 20px;
}
