<% "Showing caption"%>
<p>
  <strong>Credit:</strong>
  <%=h @credit.content %>
</p>

<p>
  <strong>Language:</strong>
  <%=h @credit.language.language %>
</p>


<%= link_to 'Edit', edit_asset_manager_asset_credit_path(@asset, @credit), :class => "lightBlue" %> |
<%= link_to 'Back', asset_manager_asset_credits_path(@asset), :class => "lightBlue" %>
