<h1>New stage</h1>

<% form_for(@stage) do |f| %>
  <%= f.error_messages %>

  <p>
    <h3>Give your stage a name</h3>
    <p> <%= f.text_field :title %> </p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', stages_path %>