<% title "Profile Editing" %>
<div id="standard_container">
  <h3>Update Your Admin Account</h3>
  <p>Please enter your updated details:</p>
  <fieldset>
    <legend>Update Account</legend>
      <%= render :partial => 'form' %>
  </fieldset>
</div>
<div id="local_nav">
  <ul class="localNav">
    <li><%= link_to "Home", asset_manager_assets_path, :class => "localNav" %></li>
  </ul>
</div>


