<% title "Registration" %>
<div id="standard_container">
  <h3>Register your new account</h3>
  <p>Please enter your details to register for Media Manager:</p>
  <fieldset>
    <legend>Registration</legend>
      <%= render :partial => 'form' %>
  </fieldset>
  <div id="local_nav">
    <ul class="localNav">
      <li><%= link_to "Back", login_path, :class => "localNav" %></li>
    </ul>
  </div>
</div>
