<% title "Showing tag"%>
<p>
  <b>Name:</b>
  <%=h @tag.content %>
</p>

<%= link_to 'Edit', edit_asset_manager_asset_tag_path(@asset, @tag) %> |
<%= link_to 'Back', asset_manager_asset_tags_path(@asset) %>
