<% title 'Media Manager - Terms of Use' %>

<div id="standard_container">

 <p> Please read and accept the following terms and conditions to proceed </p>
 <div id="contractcontainer">
 <h2> Terms and Conditions</h2>


 <p> <%= @contract.content %> </p>
</div>

<p><%= link_to "I Accept", asset_manager_stages_path %>
<%= link_to "I Decline", asset_manager_assets_path %> </p>

</div>
