<div class="caption">
  <% fields_for "asset[#{prefix}_caption_attributes][]", caption do |c| %>
    <div class="formRow">  
      <span class="labelCol"><%= c.label "Caption" %></span>
      <%= c.text_field :content %>
      <%= c.select(:language_id, Language.all.collect { |l| [l.language, l.id] }, {:include_blank => false}) %>
      <%= link_to_function "Remove", "$(this).up('.caption').remove()" %>
    </div>
  <% end %>
</div>
