<div class="tag">
  <% fields_for "asset[#{prefix}_tag_attributes][]", tag do |t| %>
    <div class="formRow">  
      <span class="labelCol"><%= t.label "Tag"%></span>
      <%= t.text_field :content %>
      <%= link_to_function "Remove", "$(this).up('.tag').remove()", :class => "lightBlue" %>
    </div>
  <% end %>
</div>
