<% title "New Asset" %>
<h4>Adding A New Asset</h4>
<% form_for([:asset_manager, @asset], :html => { :multipart => true } ) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "fields", :locals => { :f => f } %>

  <h4>Step 3: Click Upload To Submit Your Asset</h4>
  <div>
    <%= f.submit 'Upload' %>
  </div>
<% end %>
<div><%= link_to 'Back', asset_manager_assets_path %></div>
