<% title "Registration" %>
<div id="reg_form_container">
  <h2 class="lightBlue">Register your new account</h2>
  <h4>Please enter your details to register for Media Manager:</h4>
  <fieldset>
    <legend>Registration</legend>
    <div id="registration_form">
      <%= render :partial => 'form' %>      
    </div>
  </fieldset>
</div>